<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<!--------------------------------------------------------------------------->
<!-- COPY FROM HERE -->
<!--------------------------------------------------------------------------->
<link rel="stylesheet" type="text/css" href="ubergrammar/commons.css">
<link rel="stylesheet" type="text/css" href="ubergrammar/backpage.css">
<div id="debug"></div>
<div id="solution" class="wrapper">
    <div class="layout">
        <table class="wrapper-table">
            <!--------------------------------------------------------------------------->
            <!-- SENTENCE -->
            <!--------------------------------------------------------------------------->
            <tr>
                <td>
                    <div class="sentence-table">
                        <table>
                            <tr class="options-wrapper">
                                <td id="sentence">
                                    <table id="grammar_deck_data">
                                        <tr>
                                            <td id="grammatical_concept_fld">asdf</td>
                                            <td id="summary_fld"></td>
                                        </tr>
                                    </table>
                                </td>
                                <td id="options" rowspan="2"></td>
                            </tr>
                            <tr>
                                <td id="your_notes_fld"></td>
                            </tr>
                            <tr id="source-cell"></tr>
                        </table>
                    </div>
                </td>
            </tr>

            <!--------------------------------------------------------------------------->
            <!-- RENDERED -->
            <!--------------------------------------------------------------------------->
            <tr>
                <td id="rendered-content"></td>
            </tr>
        </table>
    </div>
</div>
<div id="grammatical_concept" class="anki-field">{{grammatical concept}}</div>
<div id="your_notes" class="anki-field">{{your_notes}}</div>
<div id="usage" class="anki-field">{{usage}}</div>
<div id="equivalent" class="anki-field">{{equivalent}}</div>
<div id="expression_jp" class="anki-field">{{expression_jp}}</div>
<div id="expression_en" class="anki-field">{{expression_en}}</div>
<div id="example_1_jp" class="anki-field">{{example 1_jp}}</div>
<div id="example_1_en" class="anki-field">{{example 1_en}}</div>
<div id="example_2_jp" class="anki-field">{{example 2_jp}}</div>
<div id="example_2_en" class="anki-field">{{example 2_en}}</div>
<div id="example_3_jp" class="anki-field">{{example 3_jp}}</div>
<div id="example_3_en" class="anki-field">{{example 3_en}}</div>
<div id="example_4_jp" class="anki-field">{{example 4_jp}}</div>
<div id="example_4_en" class="anki-field">{{example 4_en}}</div>
<div id="example_5_jp" class="anki-field">{{example 5_jp}}</div>
<div id="example_5_en" class="anki-field">{{example 5_en}}</div>
<div id="example_6_jp" class="anki-field">{{example 6_jp}}</div>
<div id="example_6_en" class="anki-field">{{example 6_en}}</div>
<div id="example_7_jp" class="anki-field">{{example 7_jp}}</div>
<div id="example_7_en" class="anki-field">{{example 7_en}}</div>
<div id="example_8_jp" class="anki-field">{{example 8_jp}}</div>
<div id="example_8_en" class="anki-field">{{example 8_en}}</div>
<div id="example_9_jp" class="anki-field">{{example 9_jp}}</div>
<div id="example_9_en" class="anki-field">{{example 9_en}}</div>
<div id="example_10_jp" class="anki-field">{{example 10_jp}}</div>
<div id="example_10_en" class="anki-field">{{example 10_en}}</div>
<div id="example_11_jp" class="anki-field">{{example 11_jp}}</div>
<div id="example_11_en" class="anki-field">{{example 11_en}}</div>
<div id="example_12_jp" class="anki-field">{{example 12_jp}}</div>
<div id="example_12_en" class="anki-field">{{example 12_en}}</div>
<div id="example_13_jp" class="anki-field">{{example 13_jp}}</div>
<div id="example_13_en" class="anki-field">{{example 13_en}}</div>
<div id="example_14_jp" class="anki-field">{{example 14_jp}}</div>
<div id="example_14_en" class="anki-field">{{example 14_en}}</div>
<div id="example_15_jp" class="anki-field">{{example 15_jp}}</div>
<div id="example_15_en" class="anki-field">{{example 15_en}}</div>
<div id="notes" class="anki-field">{{notes}}</div>
<div id="textnotes" class="anki-field">{{textnotes}}</div>
<div id="formation" class="anki-field">{{formation}}</div>
<div id="part_of_speech" class="anki-field">{{part of speech}}</div>
<div id="related_expression" class="anki-field">{{related expression}}</div>
<div id="antonym_expression" class="anki-field">{{antonym expression}}</div>
<script src="ubergrammar/jquery-3.4.1.min.js" type="application/javascript"></script>
<script src="ubergrammar/jquery.modal.min.js" type="application/javascript" charset="UTF-8"></script>
<script src="ubergrammar/backpage.js" type="application/javascript" charset="UTF-8"></script>
<div id="modal" class="modal"></div>
<!--------------------------------------------------------------------------->
<!-- TO HERE -->
<!--------------------------------------------------------------------------->
</body>
</html>
