<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<!--------------------------------------------------------------------------->
<!-- COPY FROM HERE -->
<!--------------------------------------------------------------------------->
<link rel="stylesheet" type="text/css" href="ubergrammar/frontpage.css">
<link rel="stylesheet" type="text/css" href="ubergrammar/commons.css">
<div id="debug"></div>
<div class="wrapper">
    <div class="layout">
        <div id="grammatical_concept_fld"></div>
    </div>
</div>
<div id="grammatical_concept" class="anki-field">{{grammatical concept}}</div>
<script src="ubergrammar/jquery-3.4.1.min.js" type="application/javascript"></script>
<script src="ubergrammar/frontpage.js" type="application/javascript"></script>
<!--<script src="ubersentences/statics/frontpage.js" type="application/javascript" charset="UTF-8"></script>-->
<!--------------------------------------------------------------------------->
<!-- TO HERE -->
<!--------------------------------------------------------------------------->
</body>
</html>
