<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<!--------------------------------------------------------------------------->
<!-- COPY FROM HERE -->
<!--------------------------------------------------------------------------->
<link rel="stylesheet" type="text/css" href="ubergrammar/frontpage.css">
<link rel="stylesheet" type="text/css" href="ubergrammar/commons.css">
<div id="debug"></div>
<div class="wrapper">
    <div class="layout">
        <div id="container"></div>
    </div>
</div>
<div id="grammatical_concept" class="anki-field"><div>- のだ<br/></div><div>- のです asdf<br></div><div>- んだ</div><br>- んです</div></div>
<div id="formation" class="anki-field"><table class="table"><tbody><tr class="tr head"><td class="td"><span class="bold"><span>Vます</span></span></td><td class="td"><span class="concept">ましょう</span> </td><td class="td"><span>&nbsp;</span></td></tr><tr class="tr"><td class="td"><span>&nbsp;</span></td><td class="td"><span>話し<span class="concept">ましょう</span></span> </td><td class="td"><span>I/we    will talk; let’s talk</span></td></tr><tr class="tr"><td class="td"><span>&nbsp;</span></td><td class="td"><span>食べ<span class="concept">ましょう</span></span> </td><td class="td"><span>I/we    will eat; let’s eat</span></td></tr></tbody></table></div>
<script src="ubergrammar/jquery-3.4.1.min.js" type="application/javascript"></script>
<script src="ubergrammar/frontpage.js" type="application/javascript"></script>
<!--<script src="ubersentences/statics/frontpage.js" type="application/javascript" charset="UTF-8"></script>-->
<!--------------------------------------------------------------------------->
<!-- TO HERE -->
<!--------------------------------------------------------------------------->
</body>
</html>
