.layout {
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    width: 800px;
    margin: 0 auto;
}

#grammatical_concept_fld {
    width: 530px;
    margin: 50px auto;
    font-size: 1.5em;
    border: 1px solid #ccc;
    padding: 15px;
}

#grammatical_concept_fld ul {
    padding-left: 100px;
}

.howto-container {
    width: 100%;
}

.howto {
    font-size: 0.8em;
    color: #777;
    width: 350px;
    margin: 50px auto;
    list-style-type: decimal;
}

.audio-card {
    margin-top: 100px;
    text-align: center;
    font-size: 1.5em;
    color: #73aece;
    font-weight: bold;
}

#formation_fld table {
    margin: 50px auto;
}

/**********************************************************/
/* DJT DECK CSS */
/**********************************************************/

.equiv {
    margin-left:1em;
    font-style: italic;
}

#usage_header, #usage {
    width:85%;
    margin:auto;
    padding:1em;
    border-left: 4px solid #C8FAF5;
}


#usage_header {
    background-color: #e6ffff;
    margin-bottom:0;
}

#usage {
    margin-top:0;
    margin-bottom:1em;
}

#page {
    float:right;
    font-size:65%;
}

#main_concept {
    font-weight:bold;
    font-size:120%;
}

hr {
    color:blue;
}

#notes {
    margin-top:1em;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: none;
}

table td {
    padding:8px;
    font-size:11pt;
}

table {
    border-collapse:collapse;
}

tr.head {
    border-bottom:1px solid #bbbbbb!important;
    background-color:#f3f3f3;
}

.green ,.numbers {
    color:#263e86!important;
}

.cloze, .concept {
    color: #0055FF;
}

.bold {
    font-weight: bold;
}

#cloze_reveal .cloze {
    font-weight:bold;
}

#formation_header {
    padding:7px;
    margin-left:.2em;
    border:none!important;
    font-family:Verdana, sans-serif;
    font-size:95%;
    font-weight:bold;
}

.example_en {
    margin-left:3em;
    margin-bottom:7px;
}

.example_en a {
    text-decoration:none;
}
