target/
bin/
logs/
es/node_modules/
project/project
project/target
.settings/
.project
.classpath
.idea/*
.g8/
.gradle/
*.jar
*.war
*.iml
server.pid
apiKeys
readings/polly-readings.tar.gz
0ea1e322a262.json
yomichan/deck/UberKanji*
